<div class="copyright" >
  {% assign current = site.time | date: '%Y' %}
  {% assign since = site.since | downcase %}
  &copy; {% if site.since and since != current %} {{ since }} - {% endif %}
  <span itemprop="copyrightYear">{{ current }}</span>
  <span class="with-love">
    <i class="fa fa-{{ site.authoricon }}"></i>
  </span>
  <span class="author" itemprop="copyrightHolder">{{ site.author }}</span>
</div>

{% if site.copyright %}
<div >
  {{ __.footer.powered | replace: '%s', '<a class="theme-link" href="https://en.wikipedia.org/wiki/Love">Love </a> and <a href="https://en.wikipedia.org/wiki/Peace">Peace</a>!!') }}
</div>

<!--
<div class="theme-info">
  <a class="theme-link" href="https://en.wikipedia.org/wiki/Love">
    Love!
  </a>
</div>
-->
{% endif %}
